/**
 * @file icon.css
 */

@font-face {
    font-family: "DSTypeJulesColossalBook";
    src: url("DSTypeJulesColossalBook.eot"); /* IE9 */
    src: url("DSTypeJulesColossalBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("DSTypeJulesColossalBook.woff") format("woff"), /* chrome、firefox */
    url("DSTypeJulesColossalBook.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("DSTypeJulesColossalBook.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}



h1 {

  font-family: "DSTypeJulesColossalBook" !important;
}
